td
{
	font-family: "Arial" , "Helvetica" , "sans-serif";
	font-size: 9pt;
	line-height: 20px;
}
a:link
{
	color: #000000;
}
a:visited
{
	color: #666666;
}
a:hover
{
	color: #000000;
	text-decoration: none;
}

.hiddenMenu
{
	position: absolute;
	width: 149px;
	height: 100px;
	z-index: 1;
	background-color: #E8E6DF;
	layer-background-color: #E8E6DF;
	border: 1px none #000000;
	visibility: hidden;
}

body
{
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: "Arial" , "Helvetica" , "sans-serif";
	font-size: 9pt;
}

#content
{
	width: 750px;
	margin: 0px auto;
	text-align: center;
}

.flash
{
	position: absolute;
	padding-left: 290px;
	z-index: 1;
}

.topMenu
{
	display: inline;
	margin: 0px;
	padding: 0px;
}

.menu-left
{
	display: inline;
	float: left;
	width: 191px;
	background-color: #e8e6df;
	margin-left: auto;
	margin-right: auto;
}

.menu-right
{
	display: block;
	float: right;
	width: 140px;
	line-height: 0px;
}


.lineSpacing
{
	line-height: 0px;
}

.mainContent
{
	display: block;
	float: left;
	width: 397px;
	padding-left: 9px;
	padding-top: 5px;
	font-family: "Arial" , "Helvetica" , "sans-serif";
	font-size: 9pt;
	line-height: 20px;
	text-align: left;
}

.footer
{
	clear: both;
	padding-top: 0px;
	padding-bottom: 5px;
	background-color: #ffffff;
	font-size: 8pt;
}

.footerBorder
{
	border-top: 1px solid #FF6633;
	border-bottom: 1px solid #FF6633;
	width: 750px;
	padding-top: 5px;
	padding-bottom: 8px;
}

ul
{
	list-style-type: none;
}
li
{
	padding-left: 25px;
	background: transparent url(../images/small002.gif) no-repeat;
	background-position: 0 5px;
}

h1
{
	font-size: 13px;
	line-height: 10px;
}

.commonImageTextButton, .commonImageTextButton:link, .commonImageTextButton:visited, .commonImageTextButton:active
{
	display: inline-table;
	display: inline-block;
	padding: 4px;
	margin: 1px;
	border: solid 1px #888;
	border-top: #ccc;
	border-left: #ccc;
	background: #eee;
	color: #333;
	font: 9pt bold;
	padding-left: 4px;
	line-height: normal;
	cursor: hand;
}
.commonImageTextButton:hover
{
	text-decoration: underline;
	font-weight: bold;
	padding: 3px 5px 5px 21px;
	cursor: hand;
}

div#footer-wrapper
{
	width:auto;
	border-top: 1px solid #6a9d3a;
	text-align: center;
}

div#footer
{
	width: 750px;
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
}

div.column
{
	float: left;
	width: 150px;
	font-size: 11px;
	font-weight: normal;
	padding: 1px;
	margin: 1px;
}

div .column ul
{
	padding: 1px;
	margin: 1px;
}

div.column ul strong
{
	color: #2d4f0c;
	font-weight: bold;
	list-style: none;
}

div.column ul li
{
	line-height: 22px;
	font-weight: normal;
	list-style: none;
	color: #3a6611;
}

div.column ul li a
{
	color: #3a6611;
	font-weight: normal;
	text-decoration: none;
}

#articlelinks a
{
	color: #3a6611;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
}

.modal
{
    background-color: #fff;
    display: none;
    width: 350px;
    max-height:380px;
    _max-height:380px;
    padding: 15px;
    text-align: left;
    border: 2px solid #333;
    opacity: 0.8;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
    overflow-x:hidden;
    overflow-style:marquee;
    overflow-y:auto;
}

